<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Simple Search Engine</title>
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center py-3">
                <form action="/search" method="POST">
                    {{form.csrf_token}}
                    {{form.search_key}}
                    {{form.submit}}
                </form>
            </div>

            <div class="row justify-content-center">
                <p>Showing result for search: <strong>{{ keyword }}</strong></p>
            </div>

            <div class="row">
                {% for ele in result %}
                    <div class="card">
                        <div class="card-header text-white {% if ele.sentiment > 0 %} bg-success {% elif ele.sentiment < 0 %} bg-danger {% else %} bg-primary {% endif %}">
                            <h3>{{ ele.title }}</h3>
                            <em><strong>Sentiment: </strong> {{ ele.sentiment }}</em>
                        </div>
                        <div class="card-body">
                            <p><a href="{{ ele.link }}">Source Link</a></p>
                            <strong>Highlights:</strong>
                            {% for text_tup in ele.lines_with_sentiment %}
                            <ul>
                                <li class="{% if text_tup[1] > 0 %} text-success {% elif text_tup[1] < 0 %} text-danger {% else %} text-primary {% endif %}">
                                    {{text_tup[0]}} <em>(<strong>Sentiment: </strong> {{text_tup[1]}})</em>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
